.discover
    // display: flex
    .contenair-g
        position: relative
        color: white
        // margin: 10px
        margin-top: 50px
        cursor: pointer
        img
            width: 100%
        .texte_center 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            border: 3px solid red
            padding: 60px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            @media screen and (max-width: 600px) 
                border: none
            button
                border: none
                border-radius: 10px
                color: white
                font-size: 8px
                width: 50px
                padding: 5px